.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282828;
}

.loader {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 6px solid #f3f3f3;
  overflow: hidden;
  border-radius: 50%;
  border-top: 6px solid #242430;
  box-shadow: -5px -5px 5px rgb(255 255 255 / 10%),
    10px 10px 10px rgb(0 0 0 / 40%), inset -5px -5px 5px rgb(255 255 255 / 20%),
    inset 10px 10px 10px rgb(0 0 0 / 40%);
  transform: rotate(360deg);
  filter: drop-shadow(1px 5px 4px black);
  animation: spin 2s linear infinite;
  z-index: 9998 !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: #282828;
  border-radius: 50%;
  border: 2px solid #240229;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    -225deg,
    #ff7402 0%,
    #ffe700 50%,
    #fff55e 100%
  );

  filter: blur(20px);
  z-index: -1;
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
